<form [formGroup]="frmFormulario" (ngSubmit)="send()">
  <div>
    <input type="text" name="name" id="name" formControlName="user">
    <div *ngIf="frmFormulario.get('user')?.hasError('required') && frmFormulario.touched">
      Este campo es obligatorio
    </div>
  </div>
  <div>
    <input type="password" name="password" id="password" formControlName="password">
  </div>
  <div>
    <input type="confirmPassword" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword">
  </div>
  <button type="button" (click)="viewForm()">Form</button>
  -
  <button type="submit" [disabled]="!frmFormulario.valid">Send</button>
</form>

{{frmFormulario.valid}}




<router-outlet></router-outlet>